<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="notfound">
        <p>Wrong login and/or password!</p>
        <form method="POST">
            <input type="submit" value="GO BACK" id="button">
        </form>
    </div>
</body>
</html>
